*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
}

:root {
    --clr-p: #3089FC; /*299Add*/
    /* primary color*/
    --clr-s: #3bc053;
    /* secondary color*/
    --clr-f1: #999999;
    /* primary font color*/
}

/*   /
/* ===========================global======================== */
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


.btn {
    display: inline-block;
    background-color: var(--clr-p);
    border:1px solid var(--clr-p);
    border-radius: 20px;
    color: #fff;
    padding: .8rem 1.6rem;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 1.6rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background:transparent;
    border:1px solid var(--clr-p);
    color:var(--clr-p);
}

section {
    padding:5rem 0;
    padding-top: 7rem;
}

.row {
    width: 94%;
    margin: auto;
}

i.fas,
i.fab {
    font-size: 1.6rem;
    color: var(--clr-p);
    background: #fff;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid var(--clr-p);
    padding: 1rem;

}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgb(238, 238, 238);
}
h2{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    text-align: center;
 
}
h2::after{
    content: "";
    display: block;
    background-color: var(--clr-p);
    width: 10rem;
    height: .2rem;
   margin:auto;
   margin-top: 2rem;
}
.title span{
 color:var(--clr-p)
}
h3{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
h4 {
    font-size: 2rem;
}
.box-description{
    color:var(--clr-f1);
    text-align: left;
}
.title-description{
    color:var(--clr-f1);
    text-align: center;
    margin-bottom: 3rem;
    line-height: 24px;
}

.box-wraper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.box{
    display: flex;
    align-items: flex-start;
    padding:5rem;
}
.box:nth-child(odd){
    background-color: #fff;
    border-right: 2px solid var(--clr-f1);
}
.box:nth-child(even){
    background-color: #f5f5f5;
    border-left: 2px solid var(--clr-f1);
   
}

/* ===========================Header======================== */
.header {
    background-color: #f2f2f2;
    padding: .5rem 0;
}

.top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    row-gap: 2rem;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 80%;
    justify-self: center;

}

.top-btn {
    width: 90%;
    justify-self: center;
    font-size: 2rem;
}

.social-media ul li {
    display: inline-block;
}

.mail i.fas {
    font-size: 1.8rem;
    background: transparent;
    border: none;
    padding: 1rem;
}

.mail .e-address {
    font-size: 1.8rem;
    color: var(--clr-f1);
}

.top2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap:3rem;
    width: 90%;
    margin: auto;
}

.contact {
    display: flex;
    align-items: center;
}

.contact i {
    margin-right: 2rem;
}

.contact h4 span {
    color: var(--clr-p);
}


/* ==========================Ends header=================== */

/* =========================nav bar======================== */

nav {
    background-color: #151515;
    height: 5rem;
    position: relative;
}
.links {
    background-color: #151515;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 2rem;
    transition: all .5s ease;
    overflow: hidden;
}

.nav-active {
    height: 40rem;
    border-top: 1px solid #909090;
}

.links li a {
    color: #909090;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.links .active,
.links li a:hover {
    color: #fff;
}

.ham div {
    background-color: #909090;
    width: 3rem;
    height: 0.3rem;
    margin: .5rem;
    transition: all .3s ease;
}

.ham {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.toggle .line1 {
    transform: rotate(-405deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}
.fixed-nav{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    z-index: 1000;
}
.fixed-navbar{
    position: fixed;
    top:5rem;
    left: 0;
    z-index: 100;
}

/* =======================Ends nav bar===================== */

/* ==========================Hero======================= */
.hero {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('./img/hero-2-min.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 50rem;
    position: relative;
}

.hero-text {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.hero-text p {
    margin-bottom: 1.5rem;
    color:#d1d1d1;
}

.hero-btn {
    text-transform: uppercase;
    padding: 1rem 2rem;
    word-spacing: .4rem;
}

/* ========================Ends Hero====================== */

/* ======================= Service======================= */
.service{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:5rem;
}
.service-card i.fas{
    margin-right: 1.5rem;
    font-size: 2rem;
    width: 6rem;
    height:6rem;
    padding:2rem;
}
.appointment-form{
    background-color:#fff;
    padding:2rem 2.5rem;
}

.appointment-form h3{
    color:var(--clr-p);
    text-transform: uppercase;
}
.appointment-form input,
.appointment-form textarea{
    display:block;
    width: 100%;
    border:1px solid #99999980;
    outline: none;
   padding:1.5rem;
   font-size: 1.6rem;
   color:var(--clr-p);
   border-radius: 3px;
   margin-bottom: 3rem;
}
.appointment-form ::placeholder{
    font-size: 1.6rem;
}
.appointment-form .form-btn{
color:#fff;
}
.appointment-form .form-btn:hover{
color:var(--clr-p);
}


/* ======================Ends Service===================== */

/* =====================About ====================== */
.about{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
.about-left img{
    width:100%;
    height: 80vh;
}
.about-card i.fas{
    margin-right: 1.5rem;
    font-size: 2rem;
    width: 6rem;
    height:6rem;
    padding:2rem;
}
/* ======================== Ends About =================== */

/* ===================Health=========================== */
#health{
    background: linear-gradient(to right, #3089FCd3,#3089FCc0), url(./img/health-bg.jpg) no-repeat;
    background-size: cover;
    padding:8rem 1rem; 
}
.health h2{
    text-align: left;
    margin-bottom: 3rem;
    color:#fff;
}
.health h2 span {
    color:crimson;
}
.health p{
    color:#fff;
    margin-bottom: 2rem;
}
.health h2::after{
    display: none;
}
.health-btn{
    background-color: #fff;
    border-color:#fff;
    color:var(--clr-p);
    box-shadow: 0 ;
}
.health-btn:hover{
    border-color:var(--clr-p) ;
   color:#fff;
    background-color: var(--clr-p);
}
/* ======================Ends Health================== */

/* ====================Department==================== */
.department-heading .dept-btn-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    row-gap: 1rem;
}
.department-heading .dept-btn{
    font-size: 2rem;
    background-color:#f2f2f2;
    color:#000;
    width:100%;
    text-align: center;
    padding:2rem;
    font-weight: 700;
    transition: all .3s ease;
    border: none;
    outline: none;
}
.department-heading .dept-btn:hover{
    background-color: var(--clr-p);
    color:#fff;
}
.dept-btn.active {
    background-color: var(--clr-p);
    color:#fff;

}
.dept{
    display: none;
    opacity: 0;    
}

.department-description .dept.active{
animation: fade .3s linear forwards ;
display: grid;
grid-template-columns:repeat(1, 1fr);
margin-top: 2rem;
column-gap: 2rem;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
 .dept-img img{
    width:100%;
}
.dept-text h2{
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.dept-text h2::after{
display: none;
}
.dept-text p{
    color:var(--clr-f1);
    line-height: 3rem;
}
.dept-text ul {
    margin-top: 3rem;
}
.dept-text ul li{
    margin-top:1rem;
    border:1px solid #90909057;
    padding: 1rem;
}
.dept-text ul li i{
    border: none;
    padding:0;
    background: transparent;
    height: auto;
}
.dept-text ul li span{
    color:var(--clr-f1);
    font-size: 1.6rem;
}

/* ================Ends Department================== */

/* ==================Projects======================= */
.counters{
    background:linear-gradient(to right, #3bc053d3,#3bc053c0),  url(./img/health-bg.jpg) no-repeat;
    background-size: cover;
}
.counter-container{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    color:#f2f2f2;
    padding:4rem 0;
    text-align: center;
    grid-gap:2rem;
}
.counter-box{
    padding:2rem 4rem;
    border:1px solid #f2f2f285;
    width:85%;
}
.counter{
    color:#fff;
    font-size: 3.5rem;
    font-weight: 700;
}
.counter-box i{
    background:transparent;
     border:none;
     color:#fff;
     font-size: 3rem;
   transform: translateX(-20%);
   margin-bottom: 2rem;

}
/* ====================Ends Projects=============== */

/* ====================Team Container============== */
.team-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:2rem;
}
.team-card{
    text-align: center;
    background-color: #fff;
    width: 300px;
    margin:auto;
    padding-bottom: 3rem;
    transition:background-color .3s ease;
}
.team-cover-img{
    width: 100%;
    height: 20rem;
    background-color:#3089FC;
    clip-path: circle(60% at 50% 0);
}

.team-img img{
background-color: #fff;
width: 18rem;
height: 18rem;
border-radius: 50%;
border:10px solid var(--clr-p);
margin-top:-140px;
position: relative;
}

.team-text h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.team-text h4{
    font-size: 1.6rem;
    color:var(--clr-p);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;

}
.team-text p{
    margin-bottom: 5rem;
}
.team-text ul{
    display: flex;
    justify-content: space-evenly;
}
.team-text ul li i{
    transition: all .3s ease;
}
.team-text ul li:hover i{
    color: var(--clr-f1);
}
.team-card:hover{
    background-color: var(--clr-p);
    color: #fff;
}
.team-card:hover .team-text h4{
    color:#fff;
}
.team-card:hover .team-text p{
    color:#fff;
}
.team-btn{
    margin-top: 3rem;
    text-align: center;
}

/* =====================Ends Team================== */
.testimonial-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:2rem;
}
.testimonial-card{
    background-color:#fff;
    width:100%;
    margin:auto;
    padding:2rem;
}
.testimonial-text{
    margin-bottom: 3rem;
}
.testimonial-text i{
    border:none;
    background-color: transparent;
    font-size: 3.5rem;
    display: block;
   margin-bottom:-1rem;
}
.testimonial-text p{
    color:var(--clr-f1);
    line-height: 3rem;
     margin-left: 5rem;
}
.testimonial-bottom{
text-align: center;
}
.testimonial-bottom .test-img img{
    display: block;
    margin:auto;
    width: 12rem;
    height:12rem;
    border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
background: var(--clr-p);
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top:20px;
}

/* ==================Ends Testimonial================ */

/* ======================Gallery===================== */


/* ====================Ends Gallery=================== */





/* ==================Footer=============== */
#footer{
    background-color: #171717;
    color: #bbb;
}
.footer-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:4rem;
}
  
  .footer-item {
    width: 20rem;
    height: 34rem;
    text-align: left;
    margin:auto;
  }
  
  .footer-container h3 {
    color: #ccc;
    margin-bottom: 3rem;
  }
  
  .footer-item .get-item {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .footer-item i {
    width:2rem;
    font-size: 2rem;
    margin-right: 2rem;
    background-color: transparent;
    color:#bbb;
    border:none;
    padding:0;
  }
  
  .footer-item .get-item .address p {
    font-size: 1.3rem;
  }
  
  .footer-item .social ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
  
  .footer-item .social ul li i {
    color: #ccc;
    font-size: 1.8rem;
    transition: all 0.3s ease;
  }
  
  .footer-item .social ul li i:hover {
    color: var(--clr-p);
  }
  
  .footer-item .quick-links ul li {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  
  .footer-item .quick-links ul li:last-child {
    margin-bottom: 0;
  }
  
  .footer-item .quick-links ul li i {
      font-size: 1.4rem;
    color: var(--clr-p);
    margin-right: 2rem;
  }
  
  .footer-item .quick-links ul li a {
    color: #bbb;
    transition: all 0.3s ease;
  }
  
  .footer-item .quick-links ul li a:hover {
    color: var(--clr-p);
  }
  
  .footer-item label {
    font-size: 1rem;
    display: block;
  }
  
  .footer-item input,
  .footer-item textarea {
    background-color: #171717;
    color: var(--clr-p);
    border: none;
    border-bottom: 1px solid #bbb;
    outline: none;
    margin-bottom: 2rem;
    width: 20rem;
    font-size: 1.4rem;
  }
  
  .footer-item input:focus,
  .footer-item textarea:focus {
    border-color: var(--clr-p);
  }
  
  .footer-item textarea {
    resize: none;
  }
  
  .footer-item .submit-btn {
    box-shadow: 0px 3px 5px 0px #171717;
    border-color: var(--clr-p);
    background-color: var(--clr-p);
    color: #fff;
    margin-top:4rem;
  }
  
  .footer-item .submit-btn:hover {
    background: transparent;
    color: #1397db;
  }
  
  .credit {
    background-color: #1a1a1a;
    color: #bbb;
    padding: 3rem;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
/* =================Ends Footer=============== */


/* ================Responsiv =============== */

@media screen and (min-width:350px){
    .team-card{
        width:340px;
    }

}
@media screen and (min-width:480px){
    .team-card{
        width:360px;
    }

}
@media screen and (min-width:576px){

    .social-media {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    .hero-text {
        width: 440px;
        left: 5%;
    }
    .about-left img{
        width:100%;
        height: 90vh;
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:768px){
    
    .social-media {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }
    .top2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-btn {
        width: 80%;
        justify-self: center;
        font-size: 2rem;
    }
    .hero {
        height: 60rem;
    }
    .box-wraper{
        grid-template-columns: repeat(2, 1fr);
    }
    .box:nth-child(1),
    .box:nth-child(4){
        background-color: #fff;
        border:none;
    }
    .box:nth-child(2),
    .box:nth-child(3){
        background-color: #f5f5f5;
        border:none;
       
    }
    .appointment-form{
       margin:0 40px;
    }
    .about-left img{
        width:80%;
        display:block;
        margin:auto;
        height: 800px;
    }
    .team-container{
       grid-template-columns: repeat(2,1fr);
       row-gap: 6rem;
    }
    .team-cover-img{
        background-color:#3089FC;
        clip-path: circle(61% at 50% 0);
    }
    
}
@media screen and (min-width:992px){
    .top {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .social-media {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    
    }
    .top-btn {
        width: 300px;
        justify-self: end;
    }
    .top2 {
        grid-template-columns: repeat(3, 1fr);
        row-gap:3rem;
        width: 100%;
        justify-items: center ;
    }
    nav {
      display: none;
    }
    .links {
        top:0;
        background-color:var(--clr-p);
        height: 60px;
        flex-direction: row;
        align-items: center;
        padding-left: 0rem;
    }
    
    .links li a {
        color: #fff;
        font-size: 1.6rem;
    }
    .links .active,
   .links li a:hover {
    color: #151515;
  }
  .hero-text {
    left: 8%;
   }

.appointment-form{
    margin:0 80px;
 }
   .about{
    grid-template-columns: repeat(2,1fr);
}
.about-left img{
    width:100%;
    height: 600px;
}
.box-wraper{
    height: 600px;
}
.department-heading .dept-btn-container{
    grid-template-columns: repeat(5,1fr);
}
.department-description .dept.active{
    grid-template-columns:repeat(2, 1fr);
}
.counter-container{
    grid-template-columns: repeat(2, 1fr);
}

}

@media screen and (min-width:1024px){
    .service{
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
    }
    .box-wraper{
        height: 700px;
    }
    .appointment-form{
        margin:0;
        height: 700px;
     }
     .about-left img{
        height: 700px;
    }

     .counter-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (min-width:1200px){
    .team-container{
        grid-template-columns: repeat(4,1fr);
        grid-gap:1rem;
    }
    .team-card{

        background-color: #fff;
        width: 278px;

    }
    .about{
        grid-gap:2rem;
    }
}
@media screen and (min-width:1400px){
    .about-left img{
        width: 600px;
        margin-left:0;
    }
    .team-container{
        grid-gap:2rem;
    }
    .team-card{
        width: 300px;
    }

}
@media screen and (min-width:1530px){
   .hero{
       height: 85vh;
   }
    .team-container{
        grid-gap:3rem;
    }
    .team-card{
        width: 340px;
    } 
    
}
@media screen and (min-width:1600px){
    html{
        font-size: 67.5%;
    }
    .row{
        width:1600px;
    }
    .hero-text{
        left: 15%;
    }
}
@media screen and (min-width:2500px){
    .hero-text{
        left: 25%;
    }
}
@media screen and (min-width:2500px){
    .hero-text{
        left: 30%;
    }
}